@use "../../../styles/colors.scss";

.layout {
    background-color: colors.$whiteColor;

    .left-menu {
        max-width: 340px;
        background-color: colors.$darkBlueColor;
        padding: 48px;

        .logo {
            width: 125px;
            height: 35px;
            background-image: url("/assets/img/Logo.svg");
            background-size: cover;
            background-position: left;
        }

        .slogan {
            font-size: 15px;
            margin-top: 19px;
            opacity: 0.3;
        }

        .menu {
            padding-top: 81px;
            .menu-item {
                margin-bottom: 62px;
                color: colors.$whiteColor;
                .menu-item-logo {
                    width: 24px;
                    height: 24px;
                }
                .menu-item-title {
                    margin-left: 16px;
                }

                &.active {
                    font-weight: bold;
                    color: colors.$primaryColor;
                    filter: colors.$primaryColorFilter;
                }
            }
        }
    }

    .top-menu {
        position: relative;

        $top-logo-w: 25.59px;
        .logo {
            width: $top-logo-w;
            height: 25px;
            position: absolute;
            top: 16px;
            right: calc(24.41px + $top-logo-w);
            background-image: url("/assets/img/Home.svg");
            background-size: cover;
            background-position: center;
            filter: colors.$primaryColorFilter;
        }
    }
}
